<div class="sidebar" id="sidebar">
  <nav class="sidebar-nav">
    <ul class="sidebar-nav-list">
      <li class="sidebar-nav-item"><%= link_to 'トップページ', root_path %></li>
      <li class="sidebar-nav-item"><%= link_to 'カテゴリー', '#' %></li>
      <li class="sidebar-nav-item"><%= link_to 'お気に入り', '#' %></li>
      <li class="sidebar-nav-item"><%= link_to '会社概要', '#' %></li>
      <li class="sidebar-nav-item"><%= link_to 'プライバシーポリシー', '#' %></li>
      <% if user_signed_in? && current_user.admin? %>
        <li class="sidebar-nav-item"><%= link_to '商品管理ページ', new_item_path %></li>
      <% end %>
    </ul>
  </nav>
</div>
<div class="sidebar-overlay" id="sidebar-overlay"></div>